@define-color accent_color #725c0c;
@define-color accent_bg_color #ffe088;
@define-color accent_fg_color #241a00;
@define-color destructive_color #ba1a1a;
@define-color destructive_bg_color #ffdad6;
@define-color destructive_fg_color #410002;
@define-color success_color #695d3f;
@define-color success_bg_color #f1e1bb;
@define-color success_fg_color #221b04;
@define-color warning_color #46664b;
@define-color warning_bg_color #c8ecc9;
@define-color warning_fg_color #03210c;
@define-color error_color #ba1a1a;
@define-color error_bg_color #ffdad6;
@define-color error_fg_color #410002;
@define-color window_bg_color #cbc5af;
@define-color window_fg_color #1f1b13;
@define-color view_bg_color #cbc5af;
@define-color view_fg_color #1f1b13;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color @window_bg_color;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color @window_bg_color;
@define-color card_bg_color #b1ab92;
@define-color card_fg_color #1f1b13;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color @card_bg_color;
@define-color dialog_fg_color @card_fg_color;
@define-color popover_bg_color @card_bg_color;
@define-color popover_fg_color @card_fg_color;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(139, 145, 152, 0.5);
@define-color sidebar_bg_color #c5bfa6;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_bg_color;

.navigation-sidebar {
  background-color: @sidebar_bg_color;
  color: @window_fg_color;
}

headerbar.default-decoration {
  /* You may need to tweak these values depending on your GTK theme */
  margin-bottom: 50px;
  margin-top: -100px;
}

/* rm -rf window shadows */
window.csd,             /* gtk4? */
window.csd decoration {
  /* gtk3 */
  box-shadow: none;
}
